<section class="oe_container">
	<div class="oe_row oe_centered">
		<div class="oe_span_10 oe_centered">
			<h4 class="oe_slogan" style="margin-left: 180px;"><b>Economic Plan</b></h4>
			<h5 class="oe_slogan"></h5>
		</div>

		<div class="oe_span8 oe_centered">
			<div class="oe_demo oe_picture oe_screenshot">
				<img src="image/economic_plan_menu.png">
			</div>
		</div>
		<div class="oe_span3 oe_centered">
			<p class="oe_mt32">
				<ul><li>Module: Building Management 2 has been extended, which has the new menu "Economic Plan"</li></ul>
			</p>
		</div>
	</div>
	<div class="oe_row oe_centered">
		<div class="oe_span3 oe_centered">
			<p class="oe_mt32">
				<ul><li>Three menus are added below Configuration.</li></ul>
			</p>
		</div>
		<div class="oe_span8 oe_centered">
			<div class="oe_demo oe_picture oe_screenshot">
				<img src="image/configuration_menus.png">
			</div>
		</div>
	</div>
	<div class="oe_row oe_centered">
		<div class="oe_span30 oe_centered">
			<div class="oe_demo oe_picture oe_screenshot">
				<img src="image/eco_plan_form.png">
			</div>
		</div>
		<div class="oe_centered text-center">
			<p>
				Above is Form View of Economic Plan, in which states are added in the header and new object "cost lines" is added in a notebook tab further which is used for calculations for reports.
			</p>
		</div>
	</div>
	<div class="oe_row oe_centered">
		<div class="oe_span3 oe_centered">
			<p class="oe_mt32">
				<ul><li>From Economic Plan, User cannot change the two economic plans "In Progress" for the same building,else warning will be raise.</li></ul>
			</p>
		</div>
		<div class="oe_span8 oe_centered">
			<div class="oe_demo oe_picture oe_screenshot">
				<img src="image/Validation_on_state.png">
			</div>
		</div>
	</div>
	<div class="oe_row oe_centered">
	    <div class="oe_span8 oe_centered">
	        <div class="oe_demo oe_picture oe_screenshot">
	            <img src="image/validation_on_boolean.png">
	        </div>
	    </div>
	    <div class="oe_span3 oe_centered">
	    	<p class="oe_mt32">
	    		<ul><li>From economic States, User cannot active more than one process at a time,else warning will be raise.</li></ul>
	    	</p>
	    </div>
    </div>

    <div class="oe_row oe_centered">
		<div class="oe_span3 oe_centered">
			<p class="oe_mt32">
				<ul><li>From Economic Plan, User cannot select two economic plans in parallel time,in case of violation warning will be raised.</li></ul>
			</p>
		</div>
		<div class="oe_span8 oe_centered">
			<div class="oe_demo oe_picture oe_screenshot">
				<img src="image/eco_warning.png">
			</div>
		</div>
	</div>

    <div class="oe_row oe_centered">
	    <div class="oe_centered text-center">
	    	<p>
	    		Here, user can select the economic plan cost types.Only those cost types will get affected which will have invoice due date between start date and end date of economic plan.
	    	</p>
	    </div>
	    <div class="oe_centered">
	        <div class="oe_demo oe_picture oe_screenshot">
	            <img src="image/supplier_invoice.png">
	        </div>
	    </div>
    </div>

    <div class="oe_row oe_centered">
	    <div class="oe_span8 oe_centered">
	        <div class="oe_demo oe_picture oe_screenshot">
	            <img src="image/invoices.png">
	        </div>
	    </div>
	    <div class="oe_span3 oe_centered">
	    	<p class="oe_mt32">
	    		<ul><li>Here, the view of supplier invoice is displayed price subtotal of the product will reflect on the cost lines field "Amount Actual"</li></ul>
	    	</p>
	    </div>
    </div>

    <div class="oe_row oe_centered">
	    <div class="oe_span3 oe_centered">
	    	<p class="oe_mt32">
	    		<ul><li>Amount is computed from here for the "Amount Actual" field</li></ul>
	    	</p>
	    </div>
	    <div class="oe_span8 oe_centered">
	        <div class="oe_demo oe_picture oe_screenshot">
	            <img src="image/compute.png">
	        </div>
	    </div>
    </div>

    <div class="oe_row oe_centered">
	    <div class="oe_centered">
	        <div class="oe_demo oe_picture oe_screenshot">
	            <img src="image/cost_lines.png">
	        </div>
	    </div>
	    <div class="oe_centered text-center">
	    	<p>
	    		The price subtotal amount is reflected here in the cost lines. if same product is added for the same cost type then it will keep on adding the amount in cost type which will get reflected in cost lines of economic plan.
	    	</p>
	    </div>
    </div>


    <div class="oe_row oe_centered">
		<div class="oe_span3 oe_centered">
			<p class="oe_mt32">
				<ul><li>Reports Menu is displayed.</li></ul>
			</p>
		</div>
	    <div class="oe_span8 oe_centered">
			<div class="oe_demo oe_picture oe_screenshot">
				<img src="image/report_menus.png">
			</div>
		</div>
	</div>
	<div class="oe_row oe_centered">
		<div class="oe_span30 oe_centered">
			<div class="oe_demo oe_picture oe_screenshot">
				<img src="image/details_forecast.png">
			</div>
		</div>
		<div class="oe_centered text-center">
			<p>
				<ul><li>The above report displays all the cost lines bifurcated on the basis of "Chargeable to tenant" and "Non chargeable to tenant" , at the end Grand total is displayed of total chargeable and total non chargeable amounts.</li></ul>
			</p>
		</div>
	</div>
	<div class="oe_row oe_centered">
		<div class="oe_span30 oe_centered">
			<div class="oe_demo oe_picture oe_screenshot">
				<img src="image/owner_forecast.png">
			</div>
		</div>
		<div class="oe_centered text-center">
			<p>
				<ul><li>The above Report displays "Chargeable to tenant" and "Non chargeable to tenant" cost lines bifurcated alongwith the calculations based on Distribution Keys "Per WEG Shares" and "Per Number of Apartments", total is displayed at the end for chargeable and non chargeable cost lines.</li></ul>
			</p>
		</div>
	</div>
	<div class="oe_row oe_centered">
		<div class="oe_span30 oe_centered">
			<div class="oe_demo oe_picture oe_screenshot">
				<img src="image/apt_list_forecast.png">
			</div>
		</div>
		<div class="oe_centered text-center">
			<p>
				<ul><li>The above report displays the monthly house rent calculated on the basis of conditions of Distribution Keys.</li></ul>
			</p>
		</div>
	</div>
</section>